body{
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    margin: 0 !important;
}

footer{
    border-top: 1px solid grey;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-block: 2px;
    text-align: center;
    font-weight: bold;
    background-color: white;
    z-index: 3;
}


#buttonSpawn, #formSpawn{
    z-index: 2;
}

#buttonSpawn{
    margin-block: 10px;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}

.circle{
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    height: 125px;
    width: 125px;
    background-position: center;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    cursor: pointer;
    transition: transform 0.25s;
    -o-transition: transform 0.25s;
    -moz-transition: transform 0.25s;
    -webkit-transition: transform 0.25s;
}

#startBeers{
    background-image: url("Resources/Beers/5.jpg");
    -moz-background-image: url("Resources/Beers/5.jpg");
    -o-background-image: url("Resources/Beers/5.jpg");
    -webkit-background-image: url("Resources/Beers/5.jpg");
}

#startCars{
    background-image: url("Resources/Cars/5.jpg");
    -moz-background-image: url("Resources/Cars/5.jpg");
    -o-background-image: url("Resources/Cars/5.jpg");
    -webkit-background-image: url("Resources/Cars/5.jpg");
}

#startCats{
    background-image: url("Resources/Cats/5.jpg");
    -moz-background-image: url("Resources/Cats/5.jpg");
    -o-background-image: url("Resources/Cats/5.jpg");
    -webkit-background-image: url("Resources/Cats/5.jpg");
}

#startTissues{
    background-image: url("Resources/Tissues/5.jpg");
    -moz-background-image: url("Resources/Tissues/5.jpg");
    -o-background-image: url("Resources/Tissues/5.jpg");
    -webkit-background-image: url("Resources/Tissues/5.jpg");
}

.circle:hover{
    transform: scale(1.05,1.05);
    -moz-transform: scale(1.05,1.05);
    -webkit-transform: scale(1.05,1.05);
    -o-transform: scale(1.05,1.05);
}

.themeBox{
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    margin-bottom: 15px;
    align-items: center;
    -webkit-align-items: center;
}

.themeInfo{
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    margin-left: 10px;
}

.score{
    font-weight: 300;
    font-family: sans-serif;
}

.themeName{
    font-weight: 700;
    font-family: sans-serif;
}



#formSpawn{
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    padding: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 3px #888888;
    -moz-box-shadow:  0 0 3px #888888;
    -o-box-shadow:  0 0 3px #888888;
    -webkit-box-shadow:  0 0 3px #888888;
    visibility: hidden;
}

button{
    margin-top: 5px;
    padding-inline: 8px;
    padding-block: 3px;
    border-radius: 5px;
    cursor: pointer;
}

#timerArea{
    position: fixed;
    top: 20px;
    left: 30px;
    font-size: 20px;
    z-index: 2;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 3px #888888;
    -moz-box-shadow:  0 0 3px #888888;
    -o-box-shadow:  0 0 3px #888888;
    -webkit-box-shadow:  0 0 3px #888888;
    padding-inline: 8px;
    padding-block: 2px;
    font-weight: bold;
    visibility: hidden
}

#scoreArea{
    position: fixed;
    top: 20px;
    right: 30px;
    font-size: 20px;
    z-index: 2;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 3px #888888;
    -moz-box-shadow:  0 0 3px #888888;
    -o-box-shadow:  0 0 3px #888888;
    -webkit-box-shadow:  0 0 3px #888888;
    padding-inline: 8px;
    padding-block: 2px;
    font-weight: bold;
    visibility: hidden;
}

#imageSpawn{
    position: absolute;
    top:0;
    left:0;
    overflow-y: scroll;
    -ms-overflow-y: scroll;
    width: 100%;
    height: 100%;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
    align-content: flex-start;
    -webkit-align-content: flex-start;
}


.cardOuter {
    margin: 20px;
    background-color: transparent;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

.cardOuter:hover{
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    box-shadow: 0 0 5px #888888;
    -moz-box-shadow:  0 0 3px #888888;
    -o-box-shadow:  0 0 3px #888888;
    -webkit-box-shadow:  0 0 3px #888888;
    transform: scale(1.05,1.05);
    -moz-transform: scale(1.05,1.05);
    -ms-transform: scale(1.05,1.05);
    -o-transform: scale(1.05,1.05);
    -webkit-transform: scale(1.05,1.05);
}

.cardInner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    -o-transition: transform 0.8s;
    -moz-transition: transform 0.8s;
    -webkit-transition: transform 0.8s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
}

.back, .front{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.back{
    transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -ms-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    -webkit-transform: rotateY( 180deg );
}

.cardFlipped{
    transform: rotateY(0deg);
    -moz-transform: rotateY( 0deg );
    -ms-transform: rotateY( 0deg );
    -o-transform: rotateY( 0deg );
    -webkit-transform: rotateY( 0deg );
}


@media only screen and (max-width: 400px) {

    .cardOuter{
        width: 70px !important;
        height: 70px !important;
    }

}

@media only screen and (max-width: 900px){

    .circle{
        width: 110px;
        height: 110px;
    }


    .cardOuter{
        width: 105px;
        height: 105px;
    }


}


@media only screen and (max-width: 720px) {

    .themeBox{
        flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        margin-bottom: 20px;
    }

    .themeInfo{
        margin-top: 5px;
        align-items: center;
        -webkit-align-items: center;
    }

    .circle{
        width: 90px;
        height: 90px;
    }


    .cardOuter{
        width: 85px;
        height: 85px;
    }

}


@media only screen and (max-height: 600px) and (max-width: 750px) {

    .circle{
        width: 70px;
        height: 70px;
    }


    .cardOuter{
        width: 95px;
        height: 95px;
    }

}

@media only screen and (max-height: 550px){


    #buttonSpawn{
        overflow-y: scroll !important;
        -ms-overflow-y: scroll !important;
    }

}

@media print {
    footer{
        display: none;
    }
}
